{% extends "AppUsuarios/padre.html" %}

{% load static %}

{% block titulo %}
                   
<h1 class="fw-bolder">Editar Perfil</h1>
                    
{% endblock %}

{% block cuerpo %}

<body>
    <p> Estas editando el perfil de {{ nombreusuario }} </p>
    <form action="{% url 'editarPerfil'  %}" method="POST"> {% csrf_token %}

        <table>
        
            {{ form.as_table }}
        
        </table>
        
        <input type="submit" value="MODIFICAR USUARIO">
        
        
    </form>
    
</body>
{% endblock %}
