{% extends "AppUsuarios/padre.html" %}

{% load static %}

{% block titulo %}
                   
<h1 class="fw-bolder">Inbox</h1>
<a class="btn btn-primary" href="{% url 'nuevoMensaje' %}">Nuevo Mensaje</a>
<a class="btn btn-dark" href="{% url 'mensajesEnviados' %}">Mensajes Enviados</a>
                    
{% endblock %}

{% block cuerpo %}

<body>
    
    
    {% for mensaje in mensajes %}
    {% if mensaje.destinatario == request.user %}
    <h4>{{ mensaje.fecha }}</h4>
    <h2>{{ mensaje.titulo }}</h2>
    <h3>{{ mensaje.contenido }}</h3>
    <h3>De {{ mensaje.remitente }} para {{mensaje.destinatario}}</h3>
    <a class="btn btn-secondary" href="{% url 'responder' mensaje.id %}">Responder</a>
    {% endif %}
    {% endfor %}
</body>
{% endblock %}
