{% extends "AppUsuarios/padre.html" %}

{% load static %}

{% block titulo %}
                   
<h1 class="fw-bolder">Inbox</h1>
<a class="btn btn-primary" href="{% url 'nuevoMensaje' %}">Nuevo Mensaje</a>
<a class="btn btn-dark" href="{% url 'mensajesEnviados' %}">Mensajes Enviados</a>
                    
{% endblock %}

{% block cuerpo %}

<body>
    
    
    {% for mensaje in mensajes %}
    {% if mensaje.destinatario == request.user %}
    <div class="text-muted fst-italic mb-2">{{ mensaje.fecha }}</div>
    <h1 class="fw-bolder mb-1">{{ mensaje.titulo }}</h1>
    <p class="fs-5 mb-4">{{ mensaje.contenido }}</p>
    <p class="fs-5 mb-4">De {{ mensaje.remitente }} para {{mensaje.destinatario}}</p>
    <a class="btn btn-secondary" href="{% url 'responder' mensaje.id %}">Responder</a>
    {% endif %}
    {% endfor %}
</body>
{% endblock %}
