{% extends "AppUsuarios/padre.html" %}

{% load static %}

{% block titulo %}
                   
<h1 class="fw-bolder">Cuentos</h1>
<a class="btn btn-secondary" href="{% url 'nuevoCuento' %}">Crear nuevo cuento</a>
<a class="btn btn-secondary" href="{% url 'buscarPorCategoria' %}">Filtrar por Categoría</a> 
<a class="btn btn-secondary" href="{% url 'misCuentos' %}">Mis cuentos</a> 
<form action="{% url 'buscarCuento' %}" method="GET"> 

    <input type="text" name="titulo" id="titulo" placeholder="Título">

    <input type="submit" value="Buscar en Cuentos">

</form>
<p class="fs-5 mb-4">{{ mensaje }}</p>                    

{% endblock %}

{% block cuerpo %}

<body>
       
    
    {% for cuento in cuentos %}
    <div class="small mb-1">{{ cuento.categoria }}</div>
                        <h1 class="display-5 fw-bolder" >{{ cuento.titulo }}</h1>
                        <div class="fs-5 mb-5">
                            <span>{{ cuento.autor }}</span>
                        </div>
    <a class="btn btn-light" href="{% url 'verCuento'  cuento.id  %}">Ver Cuento </a>
    {% if cuento.autor != request.user %}
    <a class="btn btn-dark" href="{% url 'mensajeAlAutor'  cuento.id  %}">Mensaje al Autor </a>
    {% endif %}
    {% if cuento.autor == request.user or request.user.is_staff == 1 %}
    <a class="btn btn-danger" href="{% url 'eliminarCuento'  cuento.id  %}">Eliminar cuento </a>
    {% endif %}

    {% endfor %}

    
</body>
{% endblock %}