{% extends "AppUsuarios/padre.html" %}

{% load static %}

{% block titulo %}
                   
<h1 class="fw-bolder">Cuentos</h1>
<a class="btn btn-secondary" href="{% url 'nuevoCuento' %}">Crear nuevo cuento</a>
<a class="btn btn-secondary" href="{% url 'buscarPorCategoria' %}">Filtrar por Categoría</a> 
<a class="btn btn-secondary" href="{% url 'misCuentos' %}">Mis cuentos</a> 
<form action="{% url 'buscarCuento' %}" method="GET"> 

    <input type="text" name="titulo" id="titulo" placeholder="Título">

    <input type="submit" value="Buscar en Cuentos">

</form>

{% endblock %}

{% block cuerpo %}

<body>
    <p> {{ mensaje }} </p>
       
    
    {% for cuento in cuentos %}
    
    <p>{{ cuento.categoria }}</p>
    <p>{{ cuento.titulo }}</p>
    <p>{{ cuento.autor }}</p>
    
    <a class="btn btn-light" href="{% url 'verCuento'  cuento.id  %}">Ver Cuento </a>
    <a class="btn btn-dark" href="{% url 'mensajeAlAutor'  cuento.id  %}">Mensaje al Autor </a>
    {% if cuento.autor == request.user or request.user.is_staff == 1 %}
    <a class="btn btn-danger" href="{% url 'eliminarCuento'  cuento.id  %}">Eliminar cuento </a>
    {% endif %}

    {% endfor %}

    
</body>
{% endblock %}