{% extends "AppUsuarios/padre.html" %}

{% load static %}

{% block titulo %}
                   
<h1 class="fw-bolder">Cuentos</h1>
                    
{% endblock %}

{% block cuerpo %}

<body>
    <p> {{ mensaje }} </p>
    <a class="btn btn-danger" href="{% url 'nuevoCuento' %}">Crear nuevo cuento </a>    
    {% for cuento in cuentos %}
    
    <p>{{ cuento.categoria }}</p>
    <p>{{ cuento.titulo }}</p>
    <p>{{ cuento.autor }}</p>
    
    <a class="btn btn-danger" href="{% url 'verCuento'  cuento.id  %}">Ver Cuento </a>

    {% endfor %}

    
</body>
{% endblock %}