{% extends "AppUsuarios/padre.html" %}

{% load static %}

{% block titulo %}

<h1 class="fw-bolder">{{ titulo }}</h1>

{% endblock %} 

{% block cuerpo %}

<div class="card mb-4">
    <a href="#!"><img class="card-img-top" src="{{ foto }}" alt="foto" /></a>
    <div class="card-body">
        <div class="small text-muted">{{ fecha }}</div>
        <p class="card-text">{{ categoria }}</p>
        <h1 class="display-5 fw-bolder">{{ titulo }}</h1>
        <div class="fs-5 mb-5">
            <span>{{ subtitulo }}</span>
        </div>
        <p class="card-text">{{ cuerpo }}</p>
        <div class="fs-5 mb-5">
            <span>{{ autor }}</span>
        </div>
        <a class="btn btn-dark" href="{% url 'mensajeAlAutor' id  %}">Mensaje al Autor </a>
    </div>
</div>


{% endblock %}