{% extends "AppUsuarios/padre.html" %}

{% load static %}

{% block titulo %}
                   
<h1 class="fw-bolder">{{ usuario.username }}</h1>
                    
{% endblock %}

{% block cuerpo %}

<body>
    <p> Estas viendo el perfil de {{ usuario }} </p>
    <form action="{% url 'verPerfil'  %}" method="GET"> {% csrf_token %}

        <table>
        
            {{ form.as_table }}
        
        </table>
        
        <input type="submit" value="MODIFICAR USUARIO">
        
        
    </form>
    
</body>
{% endblock %}